<br>
<div class="container-fluid col-md-8 offset-md-1 boxy">
  <div class="card" style="width: 18rem;" *ngFor="let card of checkString">
    <div class="card-body">
      <!-- <h5 class="card-title text-success">{{card.title}}</h5>
      <p class="card-text text-primary">{{card.created_on}}</p>
      <p>{{card.content}}</p> -->
      {{card | json }}     
    </div> 
  </div> <br>
  <button type="button" class="btn btn-warning" (click)="getAllCards()">Show all Cards 📓</button> <br> <br>
  <span *ngIf="gaEM!=null" class="text-danger">{{gaEM}}</span>
</div>
<div class="container-fluid col-md-8 offset-md-1 boxy">
  <br>
  <h5>New Card!</h5>
  <form class="form" [formGroup]="cardForm" (ngSubmit)="add()">
    <div class="form-group">
      <label for="title">Title: </label>
      <input type="text" class="form-control" formControlName="title" id="title">
      <span id="titleError" *ngIf="cardForm.controls.title.invalid && cardForm.controls.title.dirty"> Please provide!</span>
    </div>
    <div class="form-group">
      <label for="content">Content: </label>
      <input type="text" class="form-control" formControlName="content" id="content">
      <span id="contentError" *ngIf="cardForm.controls.content.invalid && cardForm.controls.content.dirty"> Please provide!</span>
    </div>
    <div class="form-group">
      <label for="created_on">Created on: </label>
      <input type="date" class="form-control" formControlName="created_on" id="created_on">
      <span id="created_onError" *ngIf="cardForm.controls.created_on.invalid && cardForm.controls.created_on.dirty"> Please provide!</span>
    </div>
    <br>
    <button type="submit" class="btn btn-warning" >add new card! 📚</button>
  </form><br>
  <span class="text-success">{{addSM}}</span>
  <span class="text-danger"> {{addEM}}</span>
</div>

<div class="container-fluid col-md-8 offset-md-1 boxy">
  <br>
  <h5>Update Card!</h5>
  <form class="form" [formGroup]="cardForm" (ngSubmit)="put()">
    <div class="form-group">
      <label for="cardId">Card Id: </label>
      <input type="text" class="form-control" formControlName="cardId" id="cardId">
      <span id="cardIdError" *ngIf="cardForm.controls.cardId.invalid && cardForm.controls.cardId.dirty"> Please provide!</span>
    </div>
    <div class="form-group">
      <label for="title">Title: </label>
      <input type="text" class="form-control" formControlName="title" id="title">
      <span id="titleError" *ngIf="cardForm.controls.title.invalid && cardForm.controls.title.dirty"> Please provide!</span>
    </div>
    <div class="form-group">
      <label for="content">Content: </label>
      <input type="text" class="form-control" formControlName="content" id="content">
      <span id="contentError" *ngIf="cardForm.controls.content.invalid && cardForm.controls.content.dirty"> Please provide!</span>
    </div>
    <div class="form-group">
      <label for="created_on">Created on: </label>
      <input type="date" class="form-control" formControlName="created_on" id="created_on">
      <span id="created_onError" *ngIf="cardForm.controls.created_on.invalid && cardForm.controls.created_on.dirty"> Please provide!</span>
    </div>
    <br>
    <button type="submit" class="btn btn-warning" >Update! 🧪</button>
  </form>
  <br>
  <span class="text-success">{{putSM}}</span>
  <span class="text-danger"> {{errorMessage}}</span>
</div>

<div class="container-fluid col-md-8 offset-md-1 boxy">
  <h5>Delete: </h5>
  <form class="form" [formGroup]="cardForm" (ngSubmit)="del()">
    <div class="form-group">
      <label for="cardId">Card Id: </label>
      <input type="text" class="form-control" formControlName="cardId" id="cardId">
      <span id="cardIdError" *ngIf="cardForm.controls.cardId.invalid && cardForm.controls.cardId.dirty"> Please provide!</span>
    </div>
    <br>
    <button type="submit" class="btn btn-warning" (click)="getAllCards()">Delete ✂</button>
  </form>
  <br>
  <span class="text-danger">{{delSM}}</span>
  <span class="text-danger">{{delEM}}</span>
</div>




