<div class="container-fluid col-md-6 offset-md-1">
    <br>
    <h3>Flashcards</h3> <br>
    <p >
        Ever wondered, how to study effortlessly ? 🤔 <br>
    </p>
    <p>
        Let's trick your brain into remembering imp stuff ‼
    </p>
    <br>
    <h3>🚉 Steps to follow!</h3> <br>
    <ol>
        <li>Go to All Cards.</li> <br>
        <li>Add Cards by answering questions</li> <br>
        <li>Surf through them in practice!</li> <br>
        <li>Swipe until you're sure. </li> <br>
    </ol>
    <h4>✅ Done </h4>
</div>